<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="improved_checkout_success_page" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Improved Success Page</label>
            <tab>sales</tab>
            <resource>Magento_Checkout::checkout</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="page_title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Page Title</label>
                    <comment>
                        <![CDATA[
                            The following variable(s) will be replaced dynamically<br />
                            %customer_name%
                        ]]>
                    </comment>
                </field>
                <field id="use_chekout_name_for_guest_customers" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Use Checkout Name For Guest Customers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Guest customers are addresses as 'Guest'. This will use the name that the user submitted at the checkout</comment>
                </field>
                <field id="guest_name" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Guest Name</label>
                </field>
                <field id="intro_text" translate="label" type="textarea" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Intro Text</label>
                    <comment>
                        <![CDATA[
                            The following variable(s) will be replaced dynamically<br />
                            %customer_name%, %customer_email%<br />
                            If no content is added, nothing will be shown
                        ]]>
                    </comment>
                </field>
            </group>
            <group id="order_information_row" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Information Row</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Order Information Row</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_order_information" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Order Information</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="enable_shipping_information" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Shipping Information</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="enable_billing_information" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Billing Information</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="cms_static_block_row" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CMS Static Block Row</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Static Block Row</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="block_id" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Static Block</label>
                    <source_model>Zero1\ImprovedCheckoutSuccessPage\Model\Source\Blocks</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="related_products_row" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Related Products Row</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Related Products Row</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Related products will only show if the products purchased at checkout have related products assigned, whether or not this is enabled</comment>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Row Title</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="max_number" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Maximum Displayed</label>
                    <comment>Must be a numeric value. Maximum recommended count is 12; default is 6</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="image_type" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Related Product Image Type</label>
                    <source_model>Zero1\ImprovedCheckoutSuccessPage\Model\Source\Image</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="newsletter_row" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Newsletter Row</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Newsletter Row</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
